/* Vairabels */
:root {
  --dark-color: #000000;
  --green-color: #39DB4A;
  --red-color: #FF6868;
  --light-color: #FBFBFB;
  --yellow-color: #FFE605;
}

/* Fonts  */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Black.ttf");
  font-style: normal;
}

/* Start Global Styling */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins" , sans-serif;
  background-color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter" , sans-serif;
}

a {
  text-decoration: none !important;
}

i,
button {
  cursor: pointer;
}

/* End Global Styling */

/* Start Header Styling */

header {
  z-index: 1000;
  background-color: var(--light-color);
}

.logo {
  background-color: var(--green-color);
}

header .nav-item .nav-link {
  color: var(--dark-color);
}

header .nav-item .nav-link.active ,
header .nav-item .nav-link:hover {
  color: var(--green-color);
}

header .contact-btn {
  background-color: var(--green-color);
  padding: 10px 25px;
  color: white;
  border-radius: 25px;
  font-size: 20px;
  transition: 0.3s;
  border: 1px solid transparent;
}

header .contact-btn:hover {
  background-color: var(--light-color);
  color: var(--green-color);
  border: 1px solid var(--green-color);
}

.cursor-pointer {
  cursor: pointer;
}

.search {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgb(0 , 0 , 0 , 0.1);
  z-index: 1000;
  display: none;
}

.search input {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  outline: none;
  font-size: 18px;
}

.search button {
  border: none;
  outline: none;
  background-color: var(--green-color);
  color: white;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  display: block;
  margin: 10px auto 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #77777775;
  z-index: 15;
  display: none;
}

.search.display ,
.overlay.display {
  display: block;
}

/* End Header Styling */

/* Start Home Styling */

.home {
  min-height: 100vh;
  background-color: var(--light-color);
}

.home .img-container {
  background-color: var(--green-color);
  border-radius: 50%;
}

.home .img-container img {
  max-width: 100%;
}

.home .row .word {
  color: var(--green-color);
}

.home button {
  border: none;
  outline: none;
  padding: 10px 25px;
  font-size: 18px;
}

.home button:first-child {
  background-color: var(--green-color);
  color: white;
  border-radius: 50px;
}

.home button:nth-child(2) {
  background-color: white;
  border: 2px solid var(--green-color);
  border-radius: 50px;
  margin: 0 10px;
}

.home button:last-child {
  background-color: white;
  box-shadow: 0 5px 10px rgb(0 , 0 , 0 , 0.1);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* End Home Styling */

/* Start Menu Styling */

.menu {
  background-color: var(--light-color);
}

.menu .img {
  background-color: var(--green-color);
  width: fit-content;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.menu .row .col-md-6 {
  background-color: white;
}

/* End Menu Styling */

/* Start Services Styling */

.services .price {
  gap: 40px;
  font-size: 20px;
}

/* End Services Styling */

/* Start Offers Styling */
.offers .img {
  position: relative;
}

.offers .img::after {
  position: absolute;
  content: "";
  width: 90%;
  height: 250px;
  transform: translateX(-50%);
  background-color: var(--green-color);
  bottom: 0;
  left: 50%;
  z-index: -1;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
/* End Offers Styling */

.cardd {
  color: var(--green-color) !important;
  background-color: white;
  border: none;
  box-shadow: 0 5px 10px rgb(0 , 0 , 0 , 0.1);
}


/* Start Footer Styling */
.footer-icons {
  gap: 20px;
}

.footer-icons i:hover {
  transition: 0.3s;
  color: var(--green-color);
}
/* End Footer Styling */

/* Start Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green-color);
}
/* End Scrollbar Styling */