:root {
  --main-color: #4D4D4D;
  --secondary-color: #4CAF4F;
  --footer-bg-color: #263238;
  --secondary-bg-color: #F5F7FA;
  --input-bg-color: #D9DBE1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--main-color);
}

button {
  border: none;
  outline: none;
  color: white;
  background-color: var(--secondary-color);
  cursor: pointer;
  padding: 10px 30px;
  font-size: 25px;
}

a {
  text-decoration: none;
}

.text {
  color: var(--secondary-color);
}

input {
  background-color: var(--input-bg-color);
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  outline: none;
}
/* Start Navbar Styling */

header .login {
  background-color: white;
  border: 1px solid var(--secondary-color);
  color: black;
}

/* End Navbar Styling */

/* Start Home Styling */

.home {
  background-color: var(--secondary-bg-color);
}

.home .home-heading {
  font-size: 60px;
}

.home .info {
  margin: 20px 0;
}
/* End Home Styling */

/* Start Community Styling */
.community .card {
  box-shadow: 0 5px 10px rgb(0 , 0 , 0 , 0.2);
  border: none;
}

.community .card i{
  color: var(--secondary-color);
  font-size: 30px;
}
/* End Community Styling */

/* Start  Statistics Style */
.statistics {
  background-color: var(--secondary-bg-color);
}

.statistics i {
  color: var(--secondary-color);
  font-size: 35px;
}
/* End Statistics Style */

.products {
  background-color: var(--secondary-bg-color);
}

.content-container {
  position: relative;
}

.content-container .content {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgb(0 , 0 , 0 , 0.2);
  top: 80%;
  padding: 10px;
  z-index: 1000;
}

.extra-info {
  background-color: var(--secondary-bg-color);
}

footer {
  background-color: var(--footer-bg-color);
}

footer .social-icons a{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: var(--input-bg-color);
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 15px;
  color: var(--secondary-color);
  transition: 0.3s;
}

footer .social-icons a:hover {
  transform: translateY(-5px);
}