/* Start Variables */
:root {
  --primary: #0A72AD;
  --white-color: #fff;
  --light: #F6F6F6;
  --secondary: #2387C0;
  --dark: #242527;
  --text: #C4C4C4;
  --black: #222222;
}
/* End Variables */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}

p {
  line-height: 2;
  color: var(--text);
}

.main-title p{
  line-height: 2;
  color: var(--text);
}

.text {
  color: var(--primary);
}
/* Start Navbar Styling */
.navbar {
  background-color: var(--black);
}

.navbar .navbar-brand {
  color: var(--white-color);
}

.navbar .navbar-brand span {
  color: var(--primary);
}

.navbar .nav-item a{
  font-size: 1rem;
  margin: 0 10px;
  color: var(--light) !important;
  transition: 0.3s;
}

.navbar .nav-item.active,
.navbar .nav-item a:hover{
  color: var(--white-color) !important;
}

.navbar .navbar-toggler  {
  border: none;
  box-shadow: none;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
/* End Navbar Styling */

/* Start Home Styling */
.home {
  background-color: var(--black);
  color: white !important;
}

.home .text {
  color: var(--text);
  line-height: 2;
}

.home .discover {
  background-color: var(--primary);
  outline: none;
  transition: 0.3s all ease;
}

.home .discover:hover {
  border: 1px solid var(--primary) !important;
  color: var(--white-color);
  background-color: transparent;
}
.home .statistics .stat .number span {
  color: var(--primary);
}

.home .statistics .stat p {
  color: var(--text);
}

.home .home-img .img-content {
  background-color: var(--primary);
}

.home .home-img .img-content div:last-child {
  width: 450px;
}

.home .home-img .img-content div:last-child p {
  line-height: 2;
}

@media (max-width: 567px) {
  .home .home-img .img-content div:last-child {
    width: 100%;
  }

  .home .home-img .img-content div:last-child p {
    line-height: 1.3;
  }
}
/* End Home Styling */


/* Start Services Stylin */
.services {
  background-color: var(--light);
}
/* End Services Stylin */

/* Start Differenct Styling */
.different .icon i{
  background-color: var(--primary);
  border: 10px solid var(--secondary);
}
/* End Differenct Styling */

/* Start Find a Team Styling */
.find-team .img .img-content {
  background-color: var(--black);
}

.find-team .buttons button:first-child {
  background-color: var(--primary);
  outline: 0;
  transition: 0.3s;
  border: 2px solid transparent;
}

.find-team .buttons button:first-child:hover {
  background-color: var(--white-color);
  border: 2px solid var(--primary) !important;
  color: black !important;
}

.find-team .buttons button:last-child i {
  transition: 0.3s ease all;
}

.find-team .buttons button:last-child:hover i{
  transform: translateX(10px);
}
/* End Find a Team Styling */

/* Start Our Story Styling */
.our-story .see-more-btn {
  background-color: var(--primary);
  text-decoration: none;
}
/* End Our Story Styling */

/* Start Projects Styling */
.projects .img-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(10px);
}

.projects .row img:hover ~ .img-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.projects .img-content .icon {
  background-color: var(--primary);
  cursor: pointer;
}
/* End Projects Styling */

/* Start Footer Styling */
footer {
  background-color: var(--black);
}

footer .social-icons a {
  background-color: var(--secondary);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
}
/* End Footer Styling */